<!--<div class="row clearfix" ng-controller="app.views.project.createProjectType as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{ vm.project.projectName }}
                    <div class="search_container">
                        <ul>
                            <li>
                                <a style="color:#fff" class="btn btn-default btn_flex waves-effect" href="javascript:history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> @L("Back")</a>
                            </li>
                        </ul>
                    </div>
                </h2>

            </div>

            <div class="inqueryform">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label highlight">Project Type </label>
                            <div class="form-line">
                                <select id="ddltype" class="form-control" ng-model="vm.data.projecttypeId">
                                    <option value="">-Select Project type-</option>
                                    <option ng-repeat="proj_typelist in vm.projecttypelist" value="{{proj_typelist.id}}">{{proj_typelist.projectTypeName}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label highlight">Price  <span class="abp_required" style="color:red">*</span></label>
                            <div class="form-line">
                                <input class="form-control" ng-keypress="filterValue($event)" type="text" name="price" ng-model="vm.data.price" required minlength="2">

                            </div>
                            <span id="isShowH" style="color:Red;display:none">Please enter number.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label highlight"> Hours  <span class="abp_required" style="color:red">*</span></label>
                            <div class="form-line">
                                <input class="form-control" type="text" ng-keypress="filterValuehours($event)" name="hours" ng-model="vm.data.hours" required minlength="2">
                            </div>
                            <span id="isShowHours" style="color:Red;display:none">Please enter number.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                        @L("Cancel")
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="projectCreateForm.$invalid">
                        @L("Save")
                    </button>
                </div>-->
@*<div class="body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Project Type</th>
                    <th>Price</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="proj in vm.projectDetails">
                    <td>{{proj.projectType}}</td>
                    <td>{{proj.typeprice}}</td>
                    <td>{{proj.hours}}</td>
                </tr>
            </tbody>
        </table>
    </div>*@
<!--</div>
        </div>
    </div>
</div>-->
<form id="frm_edit_project" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Add Project Type ({{ vm.project.projectName }})</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="ddlcom" class="form-label"> Project  <span style="color:red">*</span></label>
                    <div class="form-line">
                        <select id="ddltype" class="form-control" ng-model="vm.data.projecttypeId">
                            <option value="">-Select Project type-</option>
                            <option ng-repeat="proj_typelist in vm.projecttypelist" value="{{proj_typelist.id}}">{{proj_typelist.projectTypeName}}</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label class="form-label highlight">Price  <span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line">
                        <input class="form-control" ng-keypress="filterValue($event)" type="text" name="price" ng-model=" vm.data.price" maxlength="15">
                        <span id="isShowH" style="color:Red;display:none">Please enter number.</span>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label class="form-label highlight"> Hours  <span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line">
                        <input class="form-control" type="text" name="hour" ng-keypress="filterValuehours($event)" ng-model=" vm.data.hours" maxlength="4">
                    </div>
                    <span id="isShowHours" style="color:Red;display:none">Please enter number.</span>
                </div>
            </div>
            <div class="">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="">
                            <input id="isactive" type="checkbox" name="IsActive" ng-model="vm.data.isActive" class="form-control" ng-checked="vm.data.isActive" />
                            <label for="isactive" class="form-label">Outsource?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-show="vm.data.isActive">
                <div class="form-group form-float">
                    <label class="form-label highlight"> Cost for Company  <span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line">
                        <input class="form-control" type="text" name="costforCompany" ng-keypress="filterValueCost($event)" ng-model=" vm.data.costforCompany" maxlength="10" >
                       
                    </div>
                    <span id="costforCompany" style="color:Red;display:none">Please enter number.</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label class="form-label highlight">
                        Comments 
                    </label>
                    <div class="form-line focused">
                        <textarea class="form-control " type="text" name="comments"
                                  ng-model="vm.data.comments" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.close()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="projectCreateForm.$invalid || btndisable">
            @L("Save")
        </button>
    </div>
</form>
