@using Abp.Web.Mvc.Extensions
@{
    //Layout = "~/Views/Account/_EnglishLayout.cshtml";
    //Layout = null;
}
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/forgotpassword.js")
}

<div class="card">
    <div class="body">
        <form class="forget-form" action="@Url.Action("SendPasswordResetLink")" method="post">

            <h4 class="text-center">@L("ForgotPassword")</h4>
            <div class="input-group">
                @*<label class="control-label fnt16 visible-ie8 visible-ie9">@L("EmailAddress")</label>*@
                <div class="form-line">
                    <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btnLogin submit uppercase btn-block">@L("Submit")</button>
                </div>
                <div class="col-xs-4">
                    <a href="@Url.Action("Login", "Account" )">
                        <button type="button" id="back-btn" class="btn btn-block bg-black waves-effect">
                            @L("Back")
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>
</div>

