@using System.Web.Script.Serialization
@using Abp.Web.Mvc.Extensions
@model AbpProjects.Web.Models.Account.ResetPasswordViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}


<div class="card">
    <div class="body">
        <form class="pass-reset-form" action="@Url.Action("ResetPassword")" method="post">

            <h4 class="text-center">@L("ChangePassword")</h4>
            @Html.AntiForgeryToken()
            <p>
                @L("PleaseEnterYourNewPassword")
            </p>
            <input type="hidden" name="TenantId" value="@Model.TenantId">
            <input type="hidden" name="UserId" value="@Model.UserId">
            <input type="hidden" name="ResetCode" value="@Model.ResetCode">
            <div class="myaccountloginbox">
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@L("Password")</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required />


                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@L("PasswordRepeat")</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                           placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
                </div>
                <div class="form-actions two_button">
                    <div class="forgotpass_box resetpass">

                        <button type="submit" class="btn btnLogin submit  uppercase btn-block">@L("Submit")</button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
